/* btn css */
.service_btn {
    background: #000;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 2em;
    position: fixed;
    right: 1%;
    bottom: 2%;
    transition: ease-in 0.05s;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.service_btn:hover {
    background: #8b572a;
}


/* chatroom css */
#container {
    width: 25%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
    background: #ffffff;
    /* 位置 */
    position: fixed;
    right: 1%;
    bottom: 2%;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
    /* 一開始不要出現 */
    display: none;
    transition: ease;
}

#content {
    height: 350px;
    border-radius: 5px;
    background: #ffffff;
    margin: 0 auto;
    overflow: auto;
}

.flexChat {
    display: flex;
    background: #000;
    color: #fff;
    text-align: right;
    font-size: 0.5em;
    border-radius: 8px 8px 0 0;
    padding: 10px;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

.leftBox{
    width: 70%;
    flex-direction: column;
    text-align: left;
    padding-left: 1vw;
}

.chattingText{
    font-size: 2em;
    font-weight: bold;
}

.close{
    font-size: 2em;
    width: 10%;
}



#send-box {
    width: 100%;
    text-align: center;
}

#send-box input {
    display: inline-block;
}

#send-box input.error {
    border: 1px solid red;
}

input[name="name"] {
    width: 12%;
}

input[name="msg"] {
    width: 65%;
}

input[type="button"] {
    width: 10%;
}

.leftMsg {
    display: flex;
    justify-content: flex-start;
}

.rightMsg {
    display: flex;
    justify-content: flex-end;
}

.msg {
    width: 95%;
    padding: 5px 5px 5px 10px;
}

.msg>span {
    width: 18%;
    text-align: center;
    display: inline-block;
}